<style>
    body,html{
        margin:0vh;
        height:100%;
    }

    .navbar{
        height:23%;
        width:100%;
        background-color:#014f02;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-around
        flex-basis: 0;
    }

    .listt{
        height:100%;
        width:20%;
        font-family:Verdana;
        font-size:4vh;
        color:#009107;
        align-self:flex;
        align-items: center;
        justify-content: center;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-around;
        flex-basis: 0;
    }

    .listt.el0{
        flex-basis: 0;
    }

    .listt:hover{
        transition: background-color 1s ease, color 1s ease;
        background-color:darkgreen;
        color:lightgreen;
    }
</style>